/*
*{
    margin: 0;
    padding: 0;
}
body{
  display: flex;
  justify-content: center;
  margin: 1rem;
  height: 100vh;
  box-sizing: border-box;
}
 

.contenido {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contenido__titulo {
    color: #e15e6e;
    font-size: 1.3rem;
}

.contenido__principal {
   display: flex;
   justify-content: center;
   padding: 2rem;
   gap: 1rem;
}

.contenido__principal__izquierdo {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}  

.contenido__principal__derecho__textArea, .contenido__principal__izquierdo__textArea {
    width: 20rem;
    height: 25rem;
    padding: 15px;
    border: 2px solid rgb(242, 140, 140);
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    resize: vertical; /* Permite cambiar el tamaño verticalmente */
    /*outline: none; 
}

.contenido__principal__izquierdo__textArea {
    border-left: 10px solid rgb(242, 140, 140);
}

.contenido__principal__izquierdo__botones__boton {
    width: 10rem;
    height: 3rem;
    border-radius: 12px;
    background-color: white;
    border: 1px solid rgb(242, 140, 140);
    border-right: 10px solid rgb(242, 140, 140);
}

.contenido__principal__izquierdo__botones__boton:hover {
    /*background-color: rgb(242, 140, 140);*/
   /* background-color: #F7F7F7;
    /*color: #F7F7F7;*/
    /*border-left: 10px solid #ffe2e5;*/
   /* border-left: 10px solid  rgb(242, 140, 140);
    border-right: 1px solid rgb(242, 140, 140);
}

.contenido__principal__derecho {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contenido__principal__derecho__textArea {
    border-right: 10px solid rgb(242, 140, 140);
}

.contenido__principal__derecho__boton{
    width: 100%;
    height: 10%;
    border-radius: 12px;
    background-color: white;
    border: 1px solid rgb(242, 140, 140);
    border-right: 10px solid rgb(242, 140, 140);
    color: #e15e6e;
}
*/

/* MEJORANDO LOS ESTILOS*/

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    margin:auto
}

h1 {
    font-size: 28px;
    padding: 10px;
    color: rgba(255, 0, 0, 0.818);
}

.contenido {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenido__encriptador__mensaje {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: rgba(255, 0, 0, 0.818);
    font-size: 18px;
    margin-bottom: 10px;
}

.contenido__encriptador__elementos {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.contenido__encriptador__elementos__texto {
    width: 500px;
    height: 150px;
    border: 2px solid gray;
    border-radius: 10px;
    outline: none;
    padding: 10px;
}

.contenido__encriptador__elementos__boton {
    position: relative;
    background-color: black;
    color: white;
    left: 325px;
    width: 200px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
}

.contenido__encriptador__elementos__boton:hover {
    background-color: #f7f7f7;
    color: black;
    border: none;
}

.contenido__desencriptador {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(160, 236, 83, 0.471);
    /*background-color: rgba(140, 236, 44, 0.471);*/
    border-left: 8px solid rgba(255, 0, 0, 0.818);
}

.contenido__desencriptador h2 {
    font-size: 18px;
    padding: 10px;
    color: #272727;
}

.contenido__desencriptador__boton {
    margin-top: 10px;
    width: 100%;
    background-color: black;
    color: white;
    height: 40px;
    text-align: center;
    margin-top: 15px;
    border-radius: 10px;
}

.contenido__desencriptador__boton:hover {
    background-color: #f7f7f7;
    color: black;
    border: none;
}

.contenido__desencriptador__checkbox {
    accent-color: rgba(255, 0, 0, 0.818);
}
