* {
    margin: 0;
    padding: 0;
}

body {
    margin:auto;
    box-sizing: border-box;
}

h1 {
    font-size: 26px;
    padding: 10px;
    color: rgba(255, 0, 0, 0.655);
}

strong {
    font-size: 24px;
    color: rgb(216, 212, 212);
    
}

.contenido {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenido__encriptador {
    width: 50%;
}

.contenido__encriptador__mensaje {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: rgba(255, 0, 0, 0.655);
    font-size: 18px;
    margin-bottom: 10px;
    height: auto;
    line-height: 25px;
    word-wrap: break-word;
    text-align: justify;
    padding: 15px;
}

.contenido__encriptador__elementos {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    box-sizing: border-box;
}

.contenido__encriptador__elementos__texto {
    height: 100px;
    border: 2px solid rgb(216, 212, 212);
    border-radius: 10px;
    outline: none;
    padding: 10px;
}

.contenido__botones {
  position: relative;
  left: 79%;
  
}

.contenido__encriptador__elementos__boton, .contenido__desencriptador__boton {
    background-color: rgba(0, 0, 0, 0.935);
    /*background-color: rgba(255, 0, 0, 0.818);*/
    font-size: 17px;
    color: white;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 5px 0px rgba(169, 169, 169, 0.450);
    
}

.contenido__encriptador__elementos__boton:hover, .contenido__desencriptador__boton:hover {
    background-color: white;
    color: rgba(169, 169, 169, 0.718);
    border: none;
}

.contenido__botones {
    display: flex;
    justify-content: start;
    gap: 10px;
}

/*agregado*/
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.655);
    text-align: center;
    margin-top: 10px;
    border-radius: 10px;
    height: 60px;
    color: #f7f7f7;
    font-size: 18px;
}

.listaFrases {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    margin-top: 10px;
    padding: 10px;
    color: white;
    background-color: #67be9b;
    font-size: 18px;
    margin-bottom: 10px;
    height: auto;
    line-height: 25px;
    word-wrap: break-word;
    padding: 20px;
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgba(169, 169, 169, 0.450);
}

.styled-checkbox {
    appearance: none;
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: relative;
    padding: 5px;
}

.styled-checkbox:checked {
    background-color: white;
    border-color: white;
}

.styled-checkbox:checked::after {
    content: '';
    position: absolute;
    top: -3px;
    left: 3px;
    width: 3px;
    height: 12px;
    border: 1px solid #67be9b;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

@media (max-width: 768px) {
    h1 {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    strong {
        font-size: 20px;
    }
   .contenido__encriptador {
        width: 80%;
   }

   .contenido__botones {
        position: relative;
        left: 0px;
   }

   .contenido__encriptador__elementos__boton {
        width: 100%;
   }

}

@media (min-width: 769px) and (max-width: 1200px) {
    .contenido__encriptador {
        width: 70%;
        margin: 20px;
   }

   .contenido__botones {
        display: flex;
        left: 0px;
   }
}

@media (min-width: 1201px) and (max-width: 1600px) {
    .contenido__encriptador {
        width: 70%;
        margin: 20px;
   }

   .contenido__botones {
        display: flex;
        left: 0px;
   }
}

@media (min-width: 1601px) and (max-width: 1800px) {
    .contenido__encriptador {
        width: 70%;
        margin: 20px;
   }

   .contenido__botones {
        display: flex;
        left: 938px;
   }
}
